/* Fonts */

/* poppins-300 */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 300;
  src: url('../fonts/poppins-v22-latin-300.woff2') format('woff2');
}
/* poppins-regular */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 400;
  src: url('../fonts/poppins-v22-latin-regular.woff2') format('woff2');
}
/* poppins-600 */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 600;
  src: url('../fonts/poppins-v22-latin-600.woff2') format('woff2');
}
/* poppins-700 */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 700;
  src: url('../fonts/poppins-v22-latin-700.woff2') format('woff2');
}
/* poppins-900 */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 900;
  src: url('../fonts/poppins-v22-latin-900.woff2') format('woff2');
}

* {
  box-sizing: border-box;
}

/* Base */
:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-accent-light: #819b57;
  --color-accent-dark: #465929;
  --color-secondary-dark: #a18268;
  --color-secondary-light: #cfcfbc;
}

body {
  /* background-color: var(--color-primary-light); */

  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-primary-dark);

  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}
img {
  display: block;
}

/* Hides elements */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Utils */

/* Buttons */

.button {
  background-color: var(--color-accent-light);
  border: 2px solid var(--color-accent-light);
  border-radius: 8px;
  padding: 16px 32px;

  font-weight: 600;
  font-size: 18px;
  color: var(--color-primary-light);

  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: transparent;
  color: var(--color-accent-dark);
}

/* Sections */

.section {
  padding: 48px 0;
}

.section:last-child {
  padding-bottom: 96px;
}

.section-title {
  font-weight: 900;
  font-size: 64px;
  line-height: 131%;
}

.section-title .accent {
  color: var(--color-accent-dark);
}

/* Container */
.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

/* Header */
.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-top: 32px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 64px;
  flex-grow: 1;
}

/* Navigation */
.nav-link {
  text-align: center;
  color: var(--color-primary-light);
}

.nav-link:hover {
  font-weight: 600;
  color: var(--color-accent-light);
}

/* Hero section*/
.hero-title {
  margin: 272px auto;
  font-weight: 900;
  font-size: 128px;
  text-align: center;
  line-height: normal;
  color: var(--color-primary-light);
}

.hero-title .accent {
  color: var(--color-accent-light);
}

/* Advantages section */
.advantages-section {
  background-color: var(--color-accent-light);
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 16px 14px;

  font-weight: 300;
  font-size: 20px;
  color: var(--color-primary-light);
}

/* Traditions section */
.traditions-section {
  padding-top: 96px;
}

.traditions-container {
  display: flex;
  gap: 100px;
  justify-content: space-between;
}

.traditions-title {
  margin-bottom: 42px;
}

.traditions-text {
  max-width: 610px;
}

.traditions-text span {
  font-weight: 600;
  color: var(--color-accent-light);
}

.traditions-text .uppercase {
  text-transform: uppercase;
}

/* Chefs section */
.chefs-title {
  margin-bottom: 80px;
  text-align: center;
}

.chefs-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.chef-item {
  flex-basis: calc((100% - 30px) / 2);
  max-width: 605px;
}

.chef-card {
  display: flex;
  gap: 30px;
}

.chef-info {
  padding-top: 12px;
}

.chef-info.limited {
  max-width: 260px;
}

.chef-title {
  font-weight: 600;
  font-size: 40px;
  color: var(--color-primary-dark);

  margin-bottom: 24px;
}

.chef-description p {
  margin-bottom: 20px;
}
.chef-description p:last-child {
  margin-bottom: 0;
}

/* Formats section */
.formats-title {
  margin-bottom: 80px;
  text-align: center;
}

.formats-list {
  display: flex;
  gap: 20px;
}

.formats-item {
  max-width: 350px;
  /* flex-basis: calc((100%-40px) / 3); */
}

.format-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  padding: 24px;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    #31261a 100%
  );
  color: var(--color-primary-light);
  background-color: var(--color-accent-dark);
}

.format-card p {
  margin: 0;
}

.format-title {
  font-weight: 600;
  font-size: 24px;
}

.format-description {
  font-weight: 300;
  font-size: 14px;
}

/* Join section */
.join-container {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.join-block {
  flex-basis: calc((100% - 32px) / 2);
  max-width: 603px;
}

.frame {
  width: 500px;
}

.join-title {
  margin-bottom: 16px;
}

.join-text {
  color: var(--color-accent-dark);
}

/* Footer */
.footer-container {
  background-color: var(--color-primary-dark);
  display: flex;
  padding: 32px 0;
  justify-content: space-between;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  gap: 166px;
}

.nav-links,
.contacts {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.contacts {
  max-width: 210px;
  font-weight: 300;
  font-size: 16px;
}

.contacts-link {
  color: var(--color-primary-light);
}

.contacts-link:hover {
  color: var(--color-accent-light);
}

.policy {
  font-weight: 300;
  font-size: 16px;
  color: var(--color-primary-light);
  margin-bottom: 16px;
}

.policy-copyright {
  font-weight: 400;
  font-size: 14px;
  color: var(--color-secondary-dark);
}
